{% extends "layouts/main.html" %}

{% set pageName = "Check your answers before booking your trip" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  {% set address %}
    {{data.new.addressLine1}}<br>
    {{data.new.addressTown}}<br>
    {{data.new.addressPostcode}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">{{ pageName }}</h1>

      <h2 class="govuk-heading-m">Booking details</h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Destination"
            },
            value: {
              html: data.new.destination
            },
            actions: {
              items: [
                {
                  href: "/new/destination",
                  text: "Change",
                  visuallyHiddenText: "your destination"
                }
              ]
            }
          },
          {
            key: {
              text: "Your name"
            },
            value: {
              html: data.new.firstName + " " + data.new.lastName
            },
            actions: {
              items: [
                {
                  href: "/new/name",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          
          {
            key: {
              text: "Address"
            },
            value: {
              html: address
            },
            actions: {
              items: [
                {
                  href: "/new/address",
                  text: "Change",
                  visuallyHiddenText: "your address"
                }
              ]
            }
          }
        ]
      }) }}


     

      <h2 class="govuk-heading-m">Now send your booking information</h2>
      <p class="govuk-body">By submitting this booking you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form smethod="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Confirm and book"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
