{% extends "layouts/main.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          You have booked a trip to {{ data.new.destination }}
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>SPaC3M4N</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Enjoy your trip to {{ data.new.destination }}
      </p>
      <p class="govuk-body">
        Dont forget your spacesuit.
      </p>

      <p class="govuk-body">
        <a href="/" class="govuk-link">Book another trip</a> 
      </p>
    </div>
  </div>
{% endblock %}
